/* body{

background-color: aqua;



}


input{

background-color: black;

color: white;



}





h1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



li{
    border: 1px solid black

} */




