:root {
    --cor-1: #1D2021;
    --cor-2: #A4221B;
    --cor-3: #023E73;
    --cor-4: #FFD898;
    --cor-5: #DCD9D9;
}


.corpo{
    height: 100%;
    background-image: linear-gradient(15deg, var(--cor-3), var(--cor-5), var(--cor-2));
}


.titulo{
text-align: center;
color: var(--cor-3);
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 48px;
text-shadow: -6px -4px 4px cornsilk
}


.subtitulo{
color: #A4221B;
font-size: 36px;
font-family: 'Courier New', Courier, monospace;
padding: 8px; 
text-shadow: -4px -2px 0px white
}


.centralizar{
text-align: center;
}



.paragrafo{
color: rgb(3, 3, 3);
font-size: medium;
text-indent: 24px;
padding: 8px;
}

.imagem{
    border: 5px solid; 
}